//
// Component: Sortable
//
// ========================================================================


// Variables
// ========================================================================

@sortable-dragged-z-index:                      @global-z-index + 50;


// Component
// ========================================================================

.hook-sortable() {
	padding-left: 0;
	position: initial;
	li {
		list-style: none;
	}
}

.hook-sortable-dragged() {

}

.hook-sortable-placeholder() {}

.hook-sortable-over() {}


// Miscellaneous
// ========================================================================

.hook-sortable-misc() {
	.uk-sortable-dragged.humanity-sortable-list {
		background: @global-color-white;
		border: 1px solid @global-color-grey-light;
		line-height: 40px;
		height: 40px;
		vertical-align: middle;
	}

}
